
<div class="containter-lg mt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">

            <p>load-product-widget works!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script  id="widgets" src='https://storage.googleapis.com/kna-gen-widgets-dev/lib/cxbus.min.js' onload="javascript:
CXBus.configure({pluginsPath:'https://storage.googleapis.com/kna-gen-widgets-dev/lib/plugins/'}); 
CXBus.loadFile('https://storage.googleapis.com/kna-gen-widgets-dev/atom.widgets.min.js').done(function(){
CXBus.loadPlugin('widgets-core')});"
endpoint="KTP" product="Atom">
</script> -->
<!-- <pre>
  <code>{{code}}</code>
</pre> -->

<!-- <script>
  (function() {
   console.log("dffddf");
    var script = document.createElement('script');
    script.onload = function() {
      alert("kk");
      CXBus.configure({pluginsPath:'https://storage.googleapis.com/kna-gen-widgets-stg/lib/plugins/'});
      CXBus.loadFile('https://storage.googleapis.com/kna-gen-widgets-stg/lib/amazon.widgets.min.js').done(function(){
      CXBus.loadPlugin('widgets-core')});
    };
    script.id = "widgets"
    script.setAttribute("endpoint", "MSP");
    script.setAttribute("product", "Amazon");
    document.getElementsByTagName('head')[0].appendChild(script);
  })();
</script> -->