<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Products List</span>
          <button class="bt btn-dark btn-md float-end" routerLink='/create-product'>Add</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th scope="col">Bussines Unit</th>
                    <th scope="col">Name</th>
                    <th scope="col">Point of contact</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <td scope="col">{{product.bu}}</td>
                    <td scope="col">{{product.name}}</td>
                    <td scope="col">{{product.contact}}</td>
                    <td scope="col">{{product.note}}</td>
                    <td>
                      <i class="fas fa-edit text-info p-2"></i>
                      <i class="fas fa-trash-alt text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
